<div class="container px-5 px-sm-0">
  <div class="row">
   <div class="col">
   <h4 class="my-3">マイページ</h4>
   <br>

   <!--#編集画面へのボタン-->
   <div class="d-flex align-items-center">
     <h4 class="px-3"><b>登録情報</b></h4>
    <%= link_to customers_infomation_edit_path(current_customer.id), class:"btn btn-success" do %>
    <span>編集する</span>
    <% end %>
   </div>
   <table class="table table-bordered">
     <tbody>
       <tr>
         <td align="left">氏名</td>
         <td><%= @customer.full_name %></td>
       </tr>
       <tr>
         <td align="left">カナ</td>
         <td><%= @customer.full_name_kana %></td>
       </tr>
       <tr>
         <td align="left">郵便番号</td>
         <td><%= @customer.postal_code %></td>
       </tr>
       <tr>
         <td align="left">住所</td>
         <td><%= @customer.address %></td>
       </tr>
       <tr>
         <td align="left">電話番号</td>
         <td><%= @customer.telephone_number %></td>
       </tr>
       <tr>
         <td align="left">メールアドレス</td>
         <td><%= @customer.email %></td>
       </tr>
    </tbody>
  </table>
  <br>

  <!--#編集画面へのボタン-->
   <div class="d-flex align-items-center">
    <h4 class="px-3"><b>注文履歴</b></h4>
    <%= link_to orders_path, class:"btn btn-primary" do %>
    <span>一覧を見る</span>
    <% end %>
   </div>

  </div>
 </div>
</div>