<div class="container px-5 px-sm-0">
  <div class="row">
   <div class="col-md-8 offset-md-1">
   <h3>マイページ</h3>

   <!--#編集画面へのボタン-->
   <div class="actions">
    <h3>登録情報</h3>
    <%= link_to customers_infomation_edit_path(current_customer.id), class:"btn btn-sm btn-success" do %>
    <span>編集する</span>
    <% end %>
   </div>

   <table class="table table-hover table-invarse">
     <tbody>
       <tr>
         <td align="left">氏名</td>
         <td><%= @customer.last_name %>  <%= @customer.first_name %></td>
       </tr>
       <tr>
         <td align="left">カナ</td>
         <td><%= @customer.last_name_kana %>  <%= @customer.first_name_kana %></td>
       </tr>
       <tr>
         <td align="left">郵便番号</td>
         <td><%= @customer.postal_code %></td>
       </tr>
       <tr>
         <td align="left">住所</td>
         <td><%= @customer.address %></td>
       </tr>
       <tr>
         <td align="left">電話番号</td>
         <td><%= @customer.telephone_number %></td>
       </tr>
       <tr>
         <td align="left">メールアドレス</td>
         <td><%= @customer.email %></td>
       </tr>
    </tbody>
  </table>

  <!--#編集画面へのボタン-->
   <div class="actions">
    <h3>注文履歴</h3>
    <%= link_to orders_path, class:"btn btn-sm btn-primary" do %>
    <span>一覧を見る</span>
    <% end %>
   </div>

  </div>
 </div>
</div>