<div class="container px-5 px-sm-0">
  <div class="row">
   <div class="col-md-8 offset-md-1">
   <h3>マイページ</h3>

   <table class="table table-hover table-invarse">
     <tbody>
       <tr>
         <td align="left">氏名</td>
         <td><%= @customer.last_name %>  <%= @customer.first_name %></td>
       </tr>
       <tr>
         <td align="left">カナ</td>
         <td><%= @customer.last_name_kana %>  <%= @customer.first_name_kana %></td>
       </tr>
       <tr>
         <td align="left">郵便番号</td>
         <td><%= @customer.postal_code %></td>
       </tr>
       <tr>
         <td align="left">住所</td>
         <td><%= @customer.address %></td>
       </tr>
       <tr>
         <td align="left">電話番号</td>
         <td><%= @customer.telephone_number %></td>
       </tr>
       <tr>
         <td align="left">メールアドレス</td>
         <td><%= @customer.email %></td>
       </tr>
    </tbody>
  </table>
  </div>
 </div>
</div>