<div class="container">
  <div class="row">
   <div class="com-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h4 class="my-5">商品編集</h4>
    <div class="form-body p-4">
     <% if @item.errors.any? %>
     <ul class="alert alert-danger" role="alert">
       <h6 class="alert-heading">
        <%= @item.errors.count %>error prohibited this obj from being saved:
       </h6>
       <% @item.errors.full_messages.each do |message| %>
       <li><%= message %></li>
       <% end %>
     </ul>
     <% end %>
   </div>

   <%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>
   <div class="form-group">
     <table class="table">
       <tbody>
         <tr>
           <td class="col-2"><%= f.label :image, "商品画像" %></td>
           <td class="col-5"><%= f.file_field :image, placeholder: "Image", accept: "image/*", class: "w-100" %></td>
         </tr>
         <tr>
           <td class="col-2"><%= f.label :name, "商品名" %></td>
           <td class="col-5"><%= f.text_field :name, autofocus: true, id:"inputTitle", class:"form-control" %></td>
         </tr>
         <tr>
           <td class="col-2"><%= f.label :introduction, "商品説明" %></td>
           <td class="col-5"><%= f.text_area :introduction, autofocus: true, id:"inputIntroduction", class:"form-control", :size=>"40x6" %></td>
         </tr>
         <tr>
           <td class="col-2"><%= f.label :price, "税抜き価格" %></td>
           <td class="d-flex flex-row">
            <%= f.text_field :price, autofocus: true, id:"inputPrice", class:"form-control" %>
            <span>円</span>
           </td>
         </tr>
         <tr>
          <td class="col-2"></td>
          <td class="col-5">
           <%= f.submit '変更を保存', class:"btn btn-success" %>
           <% end %>
          </td>
         </tr>
       </tbody>
     </table>
   </div>
  </div>
</div>

