<div class="container">
    <h2>商品詳細</h2>
  <div class="row">
     <div class="col-lg-3 offset-md-1">
         <%= image_tag @item.image %>
    </div>
    <div class="col-lg-6">
        <table class="table">
          <tbody>
            <tr>
              <td><p>商品名</p></td>
              <td><%= @item.name %></td>
            </tr>
            <tr>
              <td><p>商品説明</p></td>
              <td><%= @item.introduction %></td>
            </tr>
            <br>
            <tr>
              <td><p>税込価格</p></td>
              <td><%= @item.price %></td>
            </tr>
            <td>
                <div class="form-group">
                    <%= link_to "編集する", admin_item_edit_path(@item), class:"btn btn-success" %>
                </div>
            </td>
        </tbody>
        </table>
    </div>
  </div>
</div>





