<div class="container">
 <div class="row">
  <div class="col-md-9 mx-auto">
    <p class="my-3 text-center">
      ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
    </p>

    <div class="d-flex flex-wrap mx-auto justify-content-center">
      <h3 class="my-3">新着商品</h3>
      <div class="d-flex flex-wrap">
      <% @items_latest4.each do |item| %>
      <div class="mr-3 d-flex flex-column mb-4">
        <%= link_to item_path(item.id) do %>
        <%= image_tag item.image, :size => '180x150' %>
        <p class="ml-1 text-dark"><%= item.name %></p>
        <span class="ml-1 text-dark">¥<%= item.price.to_s(:delimited) %></span>
        <% end %>
      </div>
      <% end %>
    </div>
    </div>

    <div class="col-12 mt-2 text-right">
      <%= link_to "全ての商品を見る>", items_path %>
    </div>

    </div>
  </div>
</div>

