<div class="container">
 <div class="row">
  <div class="com-sm-12 col-md-8 col-lg-10 px-5 px-sm-0 mx-auto">
    <p class="text-center">
      ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
    </p>



    <div class="container">
<div class="row">
<div class="col-lg-4 offset-md-1">
    <h3>新着商品</h3>
    <table class="table">
        <tbody>
          <tr><% @items.each do |item| %>
            <td>
              <%= image_tag item.image %>
              <br>
              <%= link_to item_path(item) do %>
              <p><%= item.name %></p>
              <% end %>
              <br>
              <%= item.price %>
            </td>
            <% end %>
            </tr>
        </tbody>
    </table>
    <%= paginate @items %>
 </div>
</div>
</div>

  </div>
 </div>
</div>