<div class="container">
 <div class="row">
  <div class="col-md-9 mx-auto">
    <p class="my-3 text-center">
      ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
    </p>

    <div class="d-flex flex-wrap mx-auto justify-content-center">
      <h3>新着商品</h3>
      <table>
        <tbody>
          <tr><% @items_latest4.each do |item| %>
            <td>
              <%= image_tag item.image, :size => '200x180' %>
              <br>
              <%= link_to item_path(item) do %>
              <p><%= item.name %></p>
              <% end %>
              <p>￥<%= item.price %></p>
            </td>
            <% end %>
            </tr>
        </tbody>
    </table>
    </div>

    <div class="col-12 mt-2 text-right">
      <%= link_to "全ての商品を見る>", items_path %>
    </div>

    </div>
  </div>
</div>

