<div class="container">
  <h4 class="my-3">ショッピングカート</h1>
  <div class="row">
    <div class="col-md-8 offset-md-1">
    <table class="table table-hover table-inverse table-bordered custom-table">
        <thead>
            <tr align=center >
                <th></th>
                <th>商品名</th>
                <th>単価(税込)</th>
                <th>数量</th>
                <th>小計</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @cart_items.each do |cart_item| %>
                <tr>
                    <td class="align-middle text-center"><%= image_tag cart_item.item.image, :size => '50x40' %></td>
                    <td class="align-middle text-center"><%= cart_item.item.name %></td>
                    <td class="align-middle text-center"><%= cart_item.item.add_tax_price %>円</td>
                    <td id="select-form" class="align-middle">
                        <%= form_with(model: cart_item, url: cart_item_path(cart_item), method: :patch, local: false, class: "text-center") do |form| %>
                        <%= form.hidden_field :customer_id, :value => current_customer.id %>
                        <%= form.hidden_field :item_id, :value => cart_item.item.id %>
                        <%= form.select :quantity, *[1..10],{}, class: "form-select-sm" %>
                        <%= form.submit "変更", class: "btn btn-success" %>
                        <% end %>
                    </td>
                    <td class="align-middle subtotal-area text-center"><%= cart_item.subtotal %>円</td>
                    <td class="align-middle text-center"><%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class:"btn btn-danger", "data-confirm" => "本当に削除しますか？" %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= link_to "買い物を続ける", items_path %>
    <div class="col-md-2">
      <table class="table table-hover table-inverse table-bordered", style="border-color: #3C2A21;">
        <tbody>
          <tr align="center">
            <th class="align-middle text-center">合計金額</th>
            <td class="text-center total-area">
              <%= @cart_items.all.sum(:subtotal) %>
             </td>
          </tr>
        </tbody>
      </table>
     </div>
</div>
</div>
</div>