<div class="container">
  <div calss="row">
    <div class="col-6 px-5 px-sm-0 mx-auto">
      <h4 class="my-3">ログイン</h2>
      <p class="my-3"><strong>会員の方</strong>はこちらからログイン</p>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="table">
        <tbody>
          <tr>
            <td class="col-2"><%= f.label :'メールアドレス' %></td>
            <td class="col-4"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <td class="col-2"><%= f.label :'パスワード' %></td>
            <td class="col-4"><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
          <tr>
            <td class="col-2"></td>
            <td class="col-4"><%= f.submit "ログイン", class:"btn btn-sm btn-primary" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    <p>会員登録がお済みではない方<p>
    <p class="text-center"><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。</p>
   </div>
  </div>
</div>