<div class="container">
<div class="row">
    <h2>商品一覧</h2>
<div class="col-lg-4 offset-md-1">
    <table class="table">
        <tbody>
          <tr><% @items.each do |item| %>
            <td>
              <%= image_tag item.image %>
              <br>
              <%= link_to item_path(item) do %>
              <p><%= item.name %></p>
              <% end %>
              <br>
              <%= item.price %>
            </td>
            <% end %>
            </tr>
        </tbody>
    </table>
    <%= paginate @items %>
 </div>
</div>
</div>

