<div class="container">
<div class="row">
<div class="col-md-8 offset-md-1">
    <h2>商品一覧</h2>
    <table class="table">
        <tbody>
          <tr><% @items.each do |item| %></tr>
            <td><%= image_tag @items.image %></td>
            <td>
             <%= link_to item_path(item) do %>
             <p><%= item.name %></p>
             <% end %>
            </td>
            <td><%= item.price %></td>
            <% end %>
        </tbody>
    </table>
    <%= paginate @items %>
 </div>
</div>
</div>

