<div class="container">
 <div class="row">
    <div class="col-lg-3 offset-md-1">
         <%= image_tag @item.image, :size => '200x180' %>
    </div>
    <div class="col-lg-6">
        <table class="table">
        <tbody>
            <tr><td><h4 class="my-3"><strong><%= @item.name %></strong></h4></td></tr>
            <tr><td><p><%= @item.introduction %></p></td></tr>
            <tr><td><p><strong>￥<%= @item.add_tax_price.to_s(:delimited) %></strong>（税込）</p></td></tr>
            <tr><td>
                <div class="form-group">
                  <%= form_with model: @cart_item do |f| %>
                  <%= f.select :amount,  *[1..10], include_blank: "個数選択" %>
                  <%= f.hidden_field :item_id, :value => @item.id %>
                  <%= f.submit 'カートに入れる', class:"btn btn-success" %>
                  <% end %>
                </div>
            </td></tr>
        </tbody>
        </table>
</div>
</div>
</div>
