<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/a7b743e44e.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="vavbar-brand text-light" href="/">
            <span>LOGO</span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <!--#管理者がサインインしているときのヘッダー-->
            <% if admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "商品一覧", admin_items_path, class: 'nav-link text-white' do %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "会員一覧", admin_costomers_path, class: 'nav-link text-white' do %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "注文履歴一覧", admin_order_detail_path, class: 'nav-link text-white' do %>
              <% end %>
            </li>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-white' do %>
              <% end %>
            </li>
            <!--#ユーザーがサインインしているときのヘッダー-->
            <% elsif user_signed_in? %>
            <li class="nav-item">
              <%= link_to "マイページ", public_customers_mypage_path, class: 'nav-link text-white' do %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "商品一覧", public_items_path, class: 'nav-link text-white' do %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "カート", public_cart_items_path, class: 'nav-link text-white' do %>
              <% end %>
            </li>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_public_session_path, method: :delete, class: 'nav-link text-white' do %>
              <% end %>
            </li>
            <!--#サインインしていない時のヘッダー-->
            <% else %>
            <li class="nav-item">
              <%= link_to "About", about_path, class: 'nav-link text-white' do %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "商品一覧", public_items_path, class: 'nav-link text-white' do %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_public_registration_path, class: 'nav-link text-white' do %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン",new_public_session_path, class: 'nav-link text-white' do %>
              <% end %>
            </li>
            <% end %>
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer class="container mt-5">
      <div class="row">
        <div class="mx-auto">
        </div>
      </div>
    </footer>

  </body>
</html>

